@charset "UTF-8";
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
  --color-light: #f8f9fa;
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: 250px;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.star {
  --star-color: var(--color-light);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: #f8f9fa;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.34em;
  --top-offset: 37.6vh;
  --fall-duration: 6.861s;
  --fall-delay: 3.699s;
}
.star:nth-child(2) {
  --star-tail-length: 6.75em;
  --top-offset: 79.18vh;
  --fall-duration: 6.153s;
  --fall-delay: 6.623s;
}
.star:nth-child(3) {
  --star-tail-length: 6.75em;
  --top-offset: 21.74vh;
  --fall-duration: 10.476s;
  --fall-delay: 3.88s;
}
.star:nth-child(4) {
  --star-tail-length: 6.85em;
  --top-offset: 90.03vh;
  --fall-duration: 10.459s;
  --fall-delay: 4.861s;
}
.star:nth-child(5) {
  --star-tail-length: 5.41em;
  --top-offset: 59.61vh;
  --fall-duration: 8.487s;
  --fall-delay: 1.163s;
}
.star:nth-child(6) {
  --star-tail-length: 5.06em;
  --top-offset: 54.69vh;
  --fall-duration: 10.376s;
  --fall-delay: 1.801s;
}
.star:nth-child(7) {
  --star-tail-length: 5.37em;
  --top-offset: 60.21vh;
  --fall-duration: 6.542s;
  --fall-delay: 1.018s;
}
.star:nth-child(8) {
  --star-tail-length: 6.45em;
  --top-offset: 38.58vh;
  --fall-duration: 9.67s;
  --fall-delay: 6.815s;
}
.star:nth-child(9) {
  --star-tail-length: 5.51em;
  --top-offset: 36.82vh;
  --fall-duration: 8.167s;
  --fall-delay: 9.517s;
}
.star:nth-child(10) {
  --star-tail-length: 5.76em;
  --top-offset: 26.94vh;
  --fall-duration: 11.507s;
  --fall-delay: 9.113s;
}
.star:nth-child(11) {
  --star-tail-length: 6.61em;
  --top-offset: 5.43vh;
  --fall-duration: 8.577s;
  --fall-delay: 1.664s;
}
.star:nth-child(12) {
  --star-tail-length: 5.72em;
  --top-offset: 25.36vh;
  --fall-duration: 10.493s;
  --fall-delay: 3.875s;
}
.star:nth-child(13) {
  --star-tail-length: 5.76em;
  --top-offset: 23.88vh;
  --fall-duration: 11.92s;
  --fall-delay: 0.948s;
}
.star:nth-child(14) {
  --star-tail-length: 5.15em;
  --top-offset: 88.37vh;
  --fall-duration: 9.544s;
  --fall-delay: 1.57s;
}
.star:nth-child(15) {
  --star-tail-length: 5.11em;
  --top-offset: 10.91vh;
  --fall-duration: 11.434s;
  --fall-delay: 7.662s;
}
.star:nth-child(16) {
  --star-tail-length: 6.08em;
  --top-offset: 81.72vh;
  --fall-duration: 8.573s;
  --fall-delay: 7.391s;
}
.star:nth-child(17) {
  --star-tail-length: 5.04em;
  --top-offset: 31.43vh;
  --fall-duration: 10.254s;
  --fall-delay: 0.864s;
}
.star:nth-child(18) {
  --star-tail-length: 6.87em;
  --top-offset: 45.49vh;
  --fall-duration: 10.425s;
  --fall-delay: 8.516s;
}
.star:nth-child(19) {
  --star-tail-length: 6.94em;
  --top-offset: 13.91vh;
  --fall-duration: 9.448s;
  --fall-delay: 6.46s;
}
.star:nth-child(20) {
  --star-tail-length: 7.2em;
  --top-offset: 9.61vh;
  --fall-duration: 9.316s;
  --fall-delay: 4.813s;
}
.star:nth-child(21) {
  --star-tail-length: 5.62em;
  --top-offset: 68.78vh;
  --fall-duration: 9.348s;
  --fall-delay: 3.961s;
}
.star:nth-child(22) {
  --star-tail-length: 6.43em;
  --top-offset: 10.14vh;
  --fall-duration: 10.295s;
  --fall-delay: 0.907s;
}
.star:nth-child(23) {
  --star-tail-length: 6.1em;
  --top-offset: 4.03vh;
  --fall-duration: 11.348s;
  --fall-delay: 7.313s;
}
.star:nth-child(24) {
  --star-tail-length: 7.24em;
  --top-offset: 58.04vh;
  --fall-duration: 7.932s;
  --fall-delay: 8.269s;
}
.star:nth-child(25) {
  --star-tail-length: 6.75em;
  --top-offset: 64.76vh;
  --fall-duration: 6.619s;
  --fall-delay: 9.254s;
}
.star:nth-child(26) {
  --star-tail-length: 7.26em;
  --top-offset: 64.96vh;
  --fall-duration: 6.72s;
  --fall-delay: 2.42s;
}
.star:nth-child(27) {
  --star-tail-length: 5.16em;
  --top-offset: 47.67vh;
  --fall-duration: 8.825s;
  --fall-delay: 0.641s;
}
.star:nth-child(28) {
  --star-tail-length: 6.36em;
  --top-offset: 29.5vh;
  --fall-duration: 10.602s;
  --fall-delay: 6.268s;
}
.star:nth-child(29) {
  --star-tail-length: 5.16em;
  --top-offset: 31.27vh;
  --fall-duration: 9.264s;
  --fall-delay: 2.359s;
}
.star:nth-child(30) {
  --star-tail-length: 6.49em;
  --top-offset: 10vh;
  --fall-duration: 6.308s;
  --fall-delay: 9.761s;
}
.star:nth-child(31) {
  --star-tail-length: 5.08em;
  --top-offset: 50.91vh;
  --fall-duration: 10.24s;
  --fall-delay: 6.239s;
}
.star:nth-child(32) {
  --star-tail-length: 5.52em;
  --top-offset: 82.46vh;
  --fall-duration: 6.474s;
  --fall-delay: 2.151s;
}
.star:nth-child(33) {
  --star-tail-length: 6.76em;
  --top-offset: 45.88vh;
  --fall-duration: 6.892s;
  --fall-delay: 9.991s;
}
.star:nth-child(34) {
  --star-tail-length: 5.86em;
  --top-offset: 52.83vh;
  --fall-duration: 7.884s;
  --fall-delay: 5.216s;
}
.star:nth-child(35) {
  --star-tail-length: 7.26em;
  --top-offset: 86.01vh;
  --fall-duration: 10.467s;
  --fall-delay: 2.604s;
}
.star:nth-child(36) {
  --star-tail-length: 6.61em;
  --top-offset: 54.09vh;
  --fall-duration: 7.645s;
  --fall-delay: 5.872s;
}
.star:nth-child(37) {
  --star-tail-length: 5.55em;
  --top-offset: 93.31vh;
  --fall-duration: 8.794s;
  --fall-delay: 1.787s;
}
.star:nth-child(38) {
  --star-tail-length: 6.43em;
  --top-offset: 23.88vh;
  --fall-duration: 7.411s;
  --fall-delay: 1.076s;
}
.star:nth-child(39) {
  --star-tail-length: 6.76em;
  --top-offset: 13.7vh;
  --fall-duration: 11.18s;
  --fall-delay: 4.88s;
}
.star:nth-child(40) {
  --star-tail-length: 6.45em;
  --top-offset: 54.87vh;
  --fall-duration: 11.392s;
  --fall-delay: 6.994s;
}
.star:nth-child(41) {
  --star-tail-length: 5.57em;
  --top-offset: 19.95vh;
  --fall-duration: 8.667s;
  --fall-delay: 4.142s;
}
.star:nth-child(42) {
  --star-tail-length: 7.36em;
  --top-offset: 13.98vh;
  --fall-duration: 7.942s;
  --fall-delay: 7.906s;
}
.star:nth-child(43) {
  --star-tail-length: 5.16em;
  --top-offset: 26.5vh;
  --fall-duration: 8.026s;
  --fall-delay: 7.461s;
}
.star:nth-child(44) {
  --star-tail-length: 5.94em;
  --top-offset: 73.81vh;
  --fall-duration: 10.254s;
  --fall-delay: 0.165s;
}
.star:nth-child(45) {
  --star-tail-length: 5.85em;
  --top-offset: 63.03vh;
  --fall-duration: 11.896s;
  --fall-delay: 7.905s;
}
.star:nth-child(46) {
  --star-tail-length: 7.06em;
  --top-offset: 39.37vh;
  --fall-duration: 8.35s;
  --fall-delay: 3.894s;
}
.star:nth-child(47) {
  --star-tail-length: 5.65em;
  --top-offset: 0.98vh;
  --fall-duration: 8.624s;
  --fall-delay: 4.531s;
}
.star:nth-child(48) {
  --star-tail-length: 5.35em;
  --top-offset: 31.15vh;
  --fall-duration: 7.747s;
  --fall-delay: 8.02s;
}
.star:nth-child(49) {
  --star-tail-length: 5.58em;
  --top-offset: 43.95vh;
  --fall-duration: 6.951s;
  --fall-delay: 3.764s;
}
.star:nth-child(50) {
  --star-tail-length: 7.08em;
  --top-offset: 72.4vh;
  --fall-duration: 6s;
  --fall-delay: 3.907s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=bgindex.css.map */