@charset "UTF-8";
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
}

@-webkit-keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@-webkit-keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: 250px;
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: 250px;
  }
}
@-webkit-keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@-webkit-keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@-webkit-keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.star {
  --star-color: var(--light-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.25em;
  --top-offset: 76.41vh;
  --fall-duration: 9.231s;
  --fall-delay: 5.001s;
}
.star:nth-child(2) {
  --star-tail-length: 7.06em;
  --top-offset: 31.1vh;
  --fall-duration: 6.929s;
  --fall-delay: 4.136s;
}
.star:nth-child(3) {
  --star-tail-length: 6.8em;
  --top-offset: 28.91vh;
  --fall-duration: 9.458s;
  --fall-delay: 0.138s;
}
.star:nth-child(4) {
  --star-tail-length: 7.02em;
  --top-offset: 31.38vh;
  --fall-duration: 8.579s;
  --fall-delay: 8.786s;
}
.star:nth-child(5) {
  --star-tail-length: 7.19em;
  --top-offset: 77.1vh;
  --fall-duration: 11.743s;
  --fall-delay: 2.667s;
}
.star:nth-child(6) {
  --star-tail-length: 7.26em;
  --top-offset: 59.43vh;
  --fall-duration: 8.356s;
  --fall-delay: 6.102s;
}
.star:nth-child(7) {
  --star-tail-length: 7.32em;
  --top-offset: 15.07vh;
  --fall-duration: 10.289s;
  --fall-delay: 1.698s;
}
.star:nth-child(8) {
  --star-tail-length: 7.15em;
  --top-offset: 47.61vh;
  --fall-duration: 8.591s;
  --fall-delay: 4.329s;
}
.star:nth-child(9) {
  --star-tail-length: 5.35em;
  --top-offset: 44.47vh;
  --fall-duration: 9.532s;
  --fall-delay: 7.012s;
}
.star:nth-child(10) {
  --star-tail-length: 6.65em;
  --top-offset: 1.02vh;
  --fall-duration: 10.58s;
  --fall-delay: 1.357s;
}
.star:nth-child(11) {
  --star-tail-length: 6.91em;
  --top-offset: 18.76vh;
  --fall-duration: 7.634s;
  --fall-delay: 4.607s;
}
.star:nth-child(12) {
  --star-tail-length: 6.86em;
  --top-offset: 8.84vh;
  --fall-duration: 9.384s;
  --fall-delay: 8.889s;
}
.star:nth-child(13) {
  --star-tail-length: 5.84em;
  --top-offset: 31.24vh;
  --fall-duration: 7.907s;
  --fall-delay: 0.508s;
}
.star:nth-child(14) {
  --star-tail-length: 6.09em;
  --top-offset: 21.52vh;
  --fall-duration: 11.165s;
  --fall-delay: 0.797s;
}
.star:nth-child(15) {
  --star-tail-length: 7.11em;
  --top-offset: 36.79vh;
  --fall-duration: 9.65s;
  --fall-delay: 4.31s;
}
.star:nth-child(16) {
  --star-tail-length: 5.68em;
  --top-offset: 7.77vh;
  --fall-duration: 10.103s;
  --fall-delay: 1.605s;
}
.star:nth-child(17) {
  --star-tail-length: 6.76em;
  --top-offset: 0.51vh;
  --fall-duration: 8.64s;
  --fall-delay: 6.842s;
}
.star:nth-child(18) {
  --star-tail-length: 6.07em;
  --top-offset: 13.12vh;
  --fall-duration: 11.185s;
  --fall-delay: 6.913s;
}
.star:nth-child(19) {
  --star-tail-length: 7.29em;
  --top-offset: 98.63vh;
  --fall-duration: 7.792s;
  --fall-delay: 4.37s;
}
.star:nth-child(20) {
  --star-tail-length: 6.84em;
  --top-offset: 98.2vh;
  --fall-duration: 10.65s;
  --fall-delay: 4.482s;
}
.star:nth-child(21) {
  --star-tail-length: 5.03em;
  --top-offset: 83.12vh;
  --fall-duration: 7.927s;
  --fall-delay: 3.793s;
}
.star:nth-child(22) {
  --star-tail-length: 5.08em;
  --top-offset: 95.21vh;
  --fall-duration: 6.197s;
  --fall-delay: 7.026s;
}
.star:nth-child(23) {
  --star-tail-length: 5.52em;
  --top-offset: 34.38vh;
  --fall-duration: 9.065s;
  --fall-delay: 6.232s;
}
.star:nth-child(24) {
  --star-tail-length: 5.21em;
  --top-offset: 46.41vh;
  --fall-duration: 7.149s;
  --fall-delay: 7.806s;
}
.star:nth-child(25) {
  --star-tail-length: 5.84em;
  --top-offset: 60.24vh;
  --fall-duration: 7.077s;
  --fall-delay: 6.559s;
}
.star:nth-child(26) {
  --star-tail-length: 5.15em;
  --top-offset: 67.5vh;
  --fall-duration: 8.859s;
  --fall-delay: 1.531s;
}
.star:nth-child(27) {
  --star-tail-length: 5.93em;
  --top-offset: 26.06vh;
  --fall-duration: 9.272s;
  --fall-delay: 8.466s;
}
.star:nth-child(28) {
  --star-tail-length: 7.11em;
  --top-offset: 95.7vh;
  --fall-duration: 8.462s;
  --fall-delay: 5.388s;
}
.star:nth-child(29) {
  --star-tail-length: 7.11em;
  --top-offset: 19.98vh;
  --fall-duration: 7.805s;
  --fall-delay: 9.728s;
}
.star:nth-child(30) {
  --star-tail-length: 6.24em;
  --top-offset: 42.16vh;
  --fall-duration: 10.996s;
  --fall-delay: 1.229s;
}
.star:nth-child(31) {
  --star-tail-length: 5.67em;
  --top-offset: 41.5vh;
  --fall-duration: 7.272s;
  --fall-delay: 0.507s;
}
.star:nth-child(32) {
  --star-tail-length: 6.58em;
  --top-offset: 14.57vh;
  --fall-duration: 11.574s;
  --fall-delay: 2.105s;
}
.star:nth-child(33) {
  --star-tail-length: 7.49em;
  --top-offset: 92.83vh;
  --fall-duration: 6.235s;
  --fall-delay: 8.507s;
}
.star:nth-child(34) {
  --star-tail-length: 6.38em;
  --top-offset: 35.68vh;
  --fall-duration: 11.4s;
  --fall-delay: 6.554s;
}
.star:nth-child(35) {
  --star-tail-length: 7.24em;
  --top-offset: 8.64vh;
  --fall-duration: 9.92s;
  --fall-delay: 2.021s;
}
.star:nth-child(36) {
  --star-tail-length: 5.84em;
  --top-offset: 31.83vh;
  --fall-duration: 7.374s;
  --fall-delay: 3.274s;
}
.star:nth-child(37) {
  --star-tail-length: 6.65em;
  --top-offset: 15.45vh;
  --fall-duration: 10.924s;
  --fall-delay: 0.573s;
}
.star:nth-child(38) {
  --star-tail-length: 5.4em;
  --top-offset: 38.24vh;
  --fall-duration: 7.743s;
  --fall-delay: 7.225s;
}
.star:nth-child(39) {
  --star-tail-length: 6.04em;
  --top-offset: 70.1vh;
  --fall-duration: 7.641s;
  --fall-delay: 2.294s;
}
.star:nth-child(40) {
  --star-tail-length: 6.34em;
  --top-offset: 61.34vh;
  --fall-duration: 11.642s;
  --fall-delay: 6.041s;
}
.star:nth-child(41) {
  --star-tail-length: 6.3em;
  --top-offset: 90.42vh;
  --fall-duration: 10.416s;
  --fall-delay: 5.634s;
}
.star:nth-child(42) {
  --star-tail-length: 6.56em;
  --top-offset: 95.74vh;
  --fall-duration: 11.537s;
  --fall-delay: 7.859s;
}
.star:nth-child(43) {
  --star-tail-length: 5.1em;
  --top-offset: 86.15vh;
  --fall-duration: 11.086s;
  --fall-delay: 6.09s;
}
.star:nth-child(44) {
  --star-tail-length: 6.91em;
  --top-offset: 15.89vh;
  --fall-duration: 6.479s;
  --fall-delay: 7.186s;
}
.star:nth-child(45) {
  --star-tail-length: 6.74em;
  --top-offset: 32.22vh;
  --fall-duration: 10.45s;
  --fall-delay: 1.844s;
}
.star:nth-child(46) {
  --star-tail-length: 7.09em;
  --top-offset: 10.49vh;
  --fall-duration: 9.768s;
  --fall-delay: 2.338s;
}
.star:nth-child(47) {
  --star-tail-length: 5.04em;
  --top-offset: 16.06vh;
  --fall-duration: 9.396s;
  --fall-delay: 1.373s;
}
.star:nth-child(48) {
  --star-tail-length: 6.27em;
  --top-offset: 18.74vh;
  --fall-duration: 8.816s;
  --fall-delay: 3.885s;
}
.star:nth-child(49) {
  --star-tail-length: 6.46em;
  --top-offset: 23.38vh;
  --fall-duration: 10.215s;
  --fall-delay: 2.157s;
}
.star:nth-child(50) {
  --star-tail-length: 7.17em;
  --top-offset: 62.96vh;
  --fall-duration: 6.68s;
  --fall-delay: 8.464s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=bgindex.css.map */