@charset "UTF-8";
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
  --color-light: #f8f9fa;
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: auto;
  }
}
@keyframes open_square_mobile {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 350px;
    height: auto;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.star {
  --star-color: var(--color-light);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: #f8f9fa;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.49em;
  --top-offset: 30.29vh;
  --fall-duration: 11.921s;
  --fall-delay: 6.521s;
}
.star:nth-child(2) {
  --star-tail-length: 7.38em;
  --top-offset: 5.2vh;
  --fall-duration: 6.881s;
  --fall-delay: 1.942s;
}
.star:nth-child(3) {
  --star-tail-length: 7.02em;
  --top-offset: 91.74vh;
  --fall-duration: 10.329s;
  --fall-delay: 7.196s;
}
.star:nth-child(4) {
  --star-tail-length: 5.5em;
  --top-offset: 53.94vh;
  --fall-duration: 10.642s;
  --fall-delay: 1.324s;
}
.star:nth-child(5) {
  --star-tail-length: 5.06em;
  --top-offset: 75.93vh;
  --fall-duration: 11.364s;
  --fall-delay: 5.354s;
}
.star:nth-child(6) {
  --star-tail-length: 6.64em;
  --top-offset: 88.33vh;
  --fall-duration: 10.988s;
  --fall-delay: 8.273s;
}
.star:nth-child(7) {
  --star-tail-length: 5.32em;
  --top-offset: 74.5vh;
  --fall-duration: 7.929s;
  --fall-delay: 1.017s;
}
.star:nth-child(8) {
  --star-tail-length: 5.51em;
  --top-offset: 97.55vh;
  --fall-duration: 6.346s;
  --fall-delay: 6.712s;
}
.star:nth-child(9) {
  --star-tail-length: 6.35em;
  --top-offset: 43.3vh;
  --fall-duration: 10.968s;
  --fall-delay: 7.382s;
}
.star:nth-child(10) {
  --star-tail-length: 6.88em;
  --top-offset: 17.05vh;
  --fall-duration: 9.77s;
  --fall-delay: 7.607s;
}
.star:nth-child(11) {
  --star-tail-length: 5.27em;
  --top-offset: 57.04vh;
  --fall-duration: 10.93s;
  --fall-delay: 5.058s;
}
.star:nth-child(12) {
  --star-tail-length: 5.51em;
  --top-offset: 91.77vh;
  --fall-duration: 9.393s;
  --fall-delay: 0.992s;
}
.star:nth-child(13) {
  --star-tail-length: 6.44em;
  --top-offset: 85.13vh;
  --fall-duration: 11.866s;
  --fall-delay: 4.441s;
}
.star:nth-child(14) {
  --star-tail-length: 6.91em;
  --top-offset: 89.12vh;
  --fall-duration: 11.41s;
  --fall-delay: 5.045s;
}
.star:nth-child(15) {
  --star-tail-length: 6.03em;
  --top-offset: 65.29vh;
  --fall-duration: 11.2s;
  --fall-delay: 6.771s;
}
.star:nth-child(16) {
  --star-tail-length: 7.17em;
  --top-offset: 5.37vh;
  --fall-duration: 8.09s;
  --fall-delay: 2.398s;
}
.star:nth-child(17) {
  --star-tail-length: 6.7em;
  --top-offset: 35.15vh;
  --fall-duration: 11.057s;
  --fall-delay: 4.3s;
}
.star:nth-child(18) {
  --star-tail-length: 6.7em;
  --top-offset: 52.71vh;
  --fall-duration: 10.132s;
  --fall-delay: 3.037s;
}
.star:nth-child(19) {
  --star-tail-length: 6.67em;
  --top-offset: 72.3vh;
  --fall-duration: 11.592s;
  --fall-delay: 5.301s;
}
.star:nth-child(20) {
  --star-tail-length: 5.29em;
  --top-offset: 54.36vh;
  --fall-duration: 11.67s;
  --fall-delay: 5.53s;
}
.star:nth-child(21) {
  --star-tail-length: 6.12em;
  --top-offset: 74.08vh;
  --fall-duration: 7.054s;
  --fall-delay: 8.9s;
}
.star:nth-child(22) {
  --star-tail-length: 7.03em;
  --top-offset: 39.18vh;
  --fall-duration: 9.005s;
  --fall-delay: 5.469s;
}
.star:nth-child(23) {
  --star-tail-length: 6.7em;
  --top-offset: 86.55vh;
  --fall-duration: 10.215s;
  --fall-delay: 6.558s;
}
.star:nth-child(24) {
  --star-tail-length: 5.09em;
  --top-offset: 7.39vh;
  --fall-duration: 8.111s;
  --fall-delay: 8.56s;
}
.star:nth-child(25) {
  --star-tail-length: 5.01em;
  --top-offset: 59.99vh;
  --fall-duration: 11.374s;
  --fall-delay: 9.147s;
}
.star:nth-child(26) {
  --star-tail-length: 5.13em;
  --top-offset: 47.97vh;
  --fall-duration: 8.274s;
  --fall-delay: 4.027s;
}
.star:nth-child(27) {
  --star-tail-length: 6.3em;
  --top-offset: 37.63vh;
  --fall-duration: 10.244s;
  --fall-delay: 5.332s;
}
.star:nth-child(28) {
  --star-tail-length: 5.94em;
  --top-offset: 94.12vh;
  --fall-duration: 9.468s;
  --fall-delay: 6.37s;
}
.star:nth-child(29) {
  --star-tail-length: 5.52em;
  --top-offset: 65.42vh;
  --fall-duration: 8.927s;
  --fall-delay: 5.383s;
}
.star:nth-child(30) {
  --star-tail-length: 6.82em;
  --top-offset: 26.56vh;
  --fall-duration: 6.341s;
  --fall-delay: 1.396s;
}
.star:nth-child(31) {
  --star-tail-length: 5.02em;
  --top-offset: 22.87vh;
  --fall-duration: 7.166s;
  --fall-delay: 1.149s;
}
.star:nth-child(32) {
  --star-tail-length: 6.7em;
  --top-offset: 20.92vh;
  --fall-duration: 11.455s;
  --fall-delay: 3.952s;
}
.star:nth-child(33) {
  --star-tail-length: 5.61em;
  --top-offset: 69.61vh;
  --fall-duration: 9.258s;
  --fall-delay: 0.282s;
}
.star:nth-child(34) {
  --star-tail-length: 6.93em;
  --top-offset: 99.38vh;
  --fall-duration: 7.722s;
  --fall-delay: 4.67s;
}
.star:nth-child(35) {
  --star-tail-length: 7.35em;
  --top-offset: 97.95vh;
  --fall-duration: 6.717s;
  --fall-delay: 7.21s;
}
.star:nth-child(36) {
  --star-tail-length: 6.52em;
  --top-offset: 30.16vh;
  --fall-duration: 6.816s;
  --fall-delay: 2.431s;
}
.star:nth-child(37) {
  --star-tail-length: 6.68em;
  --top-offset: 5.56vh;
  --fall-duration: 10.732s;
  --fall-delay: 9.849s;
}
.star:nth-child(38) {
  --star-tail-length: 7.49em;
  --top-offset: 62.99vh;
  --fall-duration: 10.334s;
  --fall-delay: 7.124s;
}
.star:nth-child(39) {
  --star-tail-length: 6.33em;
  --top-offset: 47.66vh;
  --fall-duration: 10.986s;
  --fall-delay: 2.016s;
}
.star:nth-child(40) {
  --star-tail-length: 6.19em;
  --top-offset: 97.19vh;
  --fall-duration: 11.392s;
  --fall-delay: 0.71s;
}
.star:nth-child(41) {
  --star-tail-length: 6.98em;
  --top-offset: 59.83vh;
  --fall-duration: 9.36s;
  --fall-delay: 2.237s;
}
.star:nth-child(42) {
  --star-tail-length: 5.36em;
  --top-offset: 78.18vh;
  --fall-duration: 11.011s;
  --fall-delay: 4.946s;
}
.star:nth-child(43) {
  --star-tail-length: 7.07em;
  --top-offset: 7.66vh;
  --fall-duration: 10.34s;
  --fall-delay: 9.84s;
}
.star:nth-child(44) {
  --star-tail-length: 5.35em;
  --top-offset: 78.89vh;
  --fall-duration: 9.936s;
  --fall-delay: 6.73s;
}
.star:nth-child(45) {
  --star-tail-length: 7.05em;
  --top-offset: 18.48vh;
  --fall-duration: 10.98s;
  --fall-delay: 4.958s;
}
.star:nth-child(46) {
  --star-tail-length: 6.38em;
  --top-offset: 43.33vh;
  --fall-duration: 6.604s;
  --fall-delay: 2.505s;
}
.star:nth-child(47) {
  --star-tail-length: 5.2em;
  --top-offset: 0.92vh;
  --fall-duration: 10.525s;
  --fall-delay: 7.45s;
}
.star:nth-child(48) {
  --star-tail-length: 5.23em;
  --top-offset: 8.03vh;
  --fall-duration: 9.413s;
  --fall-delay: 3.416s;
}
.star:nth-child(49) {
  --star-tail-length: 5.78em;
  --top-offset: 19.38vh;
  --fall-duration: 8.392s;
  --fall-delay: 8.03s;
}
.star:nth-child(50) {
  --star-tail-length: 6.45em;
  --top-offset: 84.7vh;
  --fall-duration: 10.873s;
  --fall-delay: 0.589s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=bgindex.css.map */