/*gerais*/
body {
    background: darkblue;
}
/*ANIMAÇÕES E OUTRAS FUNÇÕES/DECLARAÇÕES*/
:root {
    --color-transp: #ffffff00;
}
@keyframes open_square {
    0% {
        width: 0px!important;
        height: 0;
    }
    100% {
        width: 500px!important;
        height: 500px;
    }
}
@keyframes open_labels {
    0% {
        width: 0px!important;
    }
    100% {
        width: auto!important;
    }
}
@keyframes open_inputs {
    0% {
        height: 0px!important;
    }
    100% {
        height: 5px!important;
    }
}
@keyframes aparecer {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
/*main-----------------------------------------------------------------------------------------------------------*/
main .FromCadastro {
    width: 450px;
    height: 50px;

    animation: open_square 2s ease forwards;
}
/* Aplica a animação aparecer aos itens dentro do formulário */
.FormCadastro label,button,input,select {
    opacity: 0%;
    animation: aparecer 2s ease forwards!important;
    animation-delay: 1s!important;
  }
  