/*importações*/
@import './animações.scss';

/*gerais*/
body {
    background: darkblue;
}
/*main-----------------------------------------------------------------------------------------------------------*/
main .FromCadastro {
    width: 450px;
    height: 50px;

    animation: open_square_2 2s ease forwards;
}
/* Aplica a animação aparecer aos itens dentro do formulário */
.FormCadastro label,button,input,select {
    opacity: 0%;
    animation: aparecer 2s ease forwards!important;
    animation-delay: 1s!important;
  }
  