body {
    font: normal;
}

header {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.navbar1 {
    height: 200px;
}

.slider {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;

}

.slide img {
    width: 1200px;
}

.manual-navigation {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    margin-top: -1px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

p {
    padding: 50px;
}

.boas-vidas {
    padding: 30px;
}

.container-projeto {
    display: flex;
    justify-content: space-between;
}

.sobre-o-projeto {
    width: 800px;
    height: 200px;
    background-color: rgb(38, 153, 219);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    margin-bottom: 50px;
}

#h3 {
    padding: 0px;
}

#img2 {
    width: 580px;
    height: 350px;
}

.slides1 {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    position: relative;
    top: 30px;
    right: 100px;
    width: 500px;
    height: 430px;
    border-radius: 30px;
    padding: 10px;
    font-size: 14pt;
}

p {
    margin: 5px;
    padding: 0px;
}

.slides2 {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto2 {
    position: relative;
    top: 30px;
    left: 6px;
    width: 500px;
    height: 430px;
    border-radius: 30px;
    padding: 10px;
    font-size: 14pt;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
}

.menu-rodapé {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 10%;
}

.menu-rodapé,
li {
    color: white;
    list-style: none;
}

#h2 {
    color: white;
    padding: 30px;
}

.a {
    position: relative;
    right: 10px;
    bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}