footer {
  height: 100%;
}

#container {
  width: 1100px;
  height: 500px;
}
#seu-cadastro {
  width: 300px;
  height: 450px;
}

#materias {
  width: 300px;
  height: 450px;
}
#cursos {
  width: 300px;
  height: 450px;
}
#inscriçoes {
  width: 300px;
  height: 450px;
}