/*importações*/
@import './animações.scss';

body {
    font: optional;
}

/* Para adcionar uma borda*/
#caixa {
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    animation: open_square_3 2s ease forwards;
}

#caixa form {
    opacity: 0;
    animation: aparecer 3s ease forwards;
    animation-delay: 2s;
}