/*importações*/
@import './animações.scss';
@import './bgindex.scss';

/*Gerais*/
html {
  scroll-behavior: smooth;
}

/*header---------------------------------------------------------------------------------------------------------*/

/*main-----------------------------------------------------------------------------------------------------------*/
/*animação principal*/
section div h1 {
  padding: 0px 4px;
  font-size: 4.5rem;
  line-height: 6rem;
  color: transparent;
  animation: written_tex .5s ease forwards;
}

section div h1:nth-child(1) {
  animation-delay: 1s;
}

/*animação do quadro do texto*/
section .DivText {
  width: 0px;
  height: 0px;
  animation: open_square .5s ease forwards;
  animation-duration: 1s;
}

/*animação do texto dp quadro do texto*/
#texto {
  color: transparent;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end) forwards;
  animation-delay: 2s;
}

span {
  animation: blink 1s infinite;
}


/*footer---------------------------------------------------------------------------------------------------------*/