@charset "UTF-8";
/*importações*/
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: 250px;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--light-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.46em;
  --top-offset: 44.45vh;
  --fall-duration: 6.302s;
  --fall-delay: 9.233s;
}
.star:nth-child(2) {
  --star-tail-length: 7.05em;
  --top-offset: 60.65vh;
  --fall-duration: 9.408s;
  --fall-delay: 4.989s;
}
.star:nth-child(3) {
  --star-tail-length: 5.92em;
  --top-offset: 56.69vh;
  --fall-duration: 8.416s;
  --fall-delay: 5.429s;
}
.star:nth-child(4) {
  --star-tail-length: 5.85em;
  --top-offset: 14.45vh;
  --fall-duration: 8.685s;
  --fall-delay: 1.692s;
}
.star:nth-child(5) {
  --star-tail-length: 5.89em;
  --top-offset: 16.2vh;
  --fall-duration: 9.446s;
  --fall-delay: 3.719s;
}
.star:nth-child(6) {
  --star-tail-length: 5.53em;
  --top-offset: 41.85vh;
  --fall-duration: 9.129s;
  --fall-delay: 8.946s;
}
.star:nth-child(7) {
  --star-tail-length: 6.57em;
  --top-offset: 56.5vh;
  --fall-duration: 10.669s;
  --fall-delay: 6.933s;
}
.star:nth-child(8) {
  --star-tail-length: 5.98em;
  --top-offset: 97.23vh;
  --fall-duration: 8.821s;
  --fall-delay: 5.813s;
}
.star:nth-child(9) {
  --star-tail-length: 6.11em;
  --top-offset: 49.59vh;
  --fall-duration: 7.568s;
  --fall-delay: 9.913s;
}
.star:nth-child(10) {
  --star-tail-length: 6.71em;
  --top-offset: 59.62vh;
  --fall-duration: 10.201s;
  --fall-delay: 6.101s;
}
.star:nth-child(11) {
  --star-tail-length: 7.09em;
  --top-offset: 84.37vh;
  --fall-duration: 9.578s;
  --fall-delay: 6.454s;
}
.star:nth-child(12) {
  --star-tail-length: 7.35em;
  --top-offset: 4.54vh;
  --fall-duration: 9.944s;
  --fall-delay: 7.297s;
}
.star:nth-child(13) {
  --star-tail-length: 5.79em;
  --top-offset: 90.23vh;
  --fall-duration: 8.901s;
  --fall-delay: 5.702s;
}
.star:nth-child(14) {
  --star-tail-length: 5.28em;
  --top-offset: 54.97vh;
  --fall-duration: 11.452s;
  --fall-delay: 4.22s;
}
.star:nth-child(15) {
  --star-tail-length: 6.14em;
  --top-offset: 50.47vh;
  --fall-duration: 8.534s;
  --fall-delay: 0.266s;
}
.star:nth-child(16) {
  --star-tail-length: 6.59em;
  --top-offset: 8.82vh;
  --fall-duration: 6.412s;
  --fall-delay: 0.838s;
}
.star:nth-child(17) {
  --star-tail-length: 6.99em;
  --top-offset: 61.8vh;
  --fall-duration: 6.507s;
  --fall-delay: 2.19s;
}
.star:nth-child(18) {
  --star-tail-length: 5.03em;
  --top-offset: 30.29vh;
  --fall-duration: 8.102s;
  --fall-delay: 0.1s;
}
.star:nth-child(19) {
  --star-tail-length: 6.66em;
  --top-offset: 5.47vh;
  --fall-duration: 8.342s;
  --fall-delay: 2.535s;
}
.star:nth-child(20) {
  --star-tail-length: 5.83em;
  --top-offset: 2.33vh;
  --fall-duration: 9.005s;
  --fall-delay: 9.025s;
}
.star:nth-child(21) {
  --star-tail-length: 7.24em;
  --top-offset: 53.79vh;
  --fall-duration: 6.203s;
  --fall-delay: 4.295s;
}
.star:nth-child(22) {
  --star-tail-length: 6.68em;
  --top-offset: 13.07vh;
  --fall-duration: 10.626s;
  --fall-delay: 5.233s;
}
.star:nth-child(23) {
  --star-tail-length: 6.12em;
  --top-offset: 59.3vh;
  --fall-duration: 6.884s;
  --fall-delay: 4.76s;
}
.star:nth-child(24) {
  --star-tail-length: 5.08em;
  --top-offset: 51.15vh;
  --fall-duration: 8.788s;
  --fall-delay: 3.919s;
}
.star:nth-child(25) {
  --star-tail-length: 6.6em;
  --top-offset: 26vh;
  --fall-duration: 10.607s;
  --fall-delay: 6.353s;
}
.star:nth-child(26) {
  --star-tail-length: 5.19em;
  --top-offset: 11.68vh;
  --fall-duration: 11.201s;
  --fall-delay: 2.059s;
}
.star:nth-child(27) {
  --star-tail-length: 7.14em;
  --top-offset: 92.62vh;
  --fall-duration: 8.611s;
  --fall-delay: 4.56s;
}
.star:nth-child(28) {
  --star-tail-length: 7em;
  --top-offset: 57.23vh;
  --fall-duration: 9.255s;
  --fall-delay: 1.565s;
}
.star:nth-child(29) {
  --star-tail-length: 7.01em;
  --top-offset: 68.6vh;
  --fall-duration: 8.437s;
  --fall-delay: 6.675s;
}
.star:nth-child(30) {
  --star-tail-length: 7.15em;
  --top-offset: 51.01vh;
  --fall-duration: 9.111s;
  --fall-delay: 2.157s;
}
.star:nth-child(31) {
  --star-tail-length: 5.94em;
  --top-offset: 81.66vh;
  --fall-duration: 11.163s;
  --fall-delay: 3.121s;
}
.star:nth-child(32) {
  --star-tail-length: 5.99em;
  --top-offset: 54.6vh;
  --fall-duration: 10.996s;
  --fall-delay: 1.186s;
}
.star:nth-child(33) {
  --star-tail-length: 7.14em;
  --top-offset: 83.4vh;
  --fall-duration: 6.458s;
  --fall-delay: 4.761s;
}
.star:nth-child(34) {
  --star-tail-length: 6.28em;
  --top-offset: 44.65vh;
  --fall-duration: 7.41s;
  --fall-delay: 2.331s;
}
.star:nth-child(35) {
  --star-tail-length: 5.59em;
  --top-offset: 20.65vh;
  --fall-duration: 10.367s;
  --fall-delay: 9.979s;
}
.star:nth-child(36) {
  --star-tail-length: 6.55em;
  --top-offset: 22.29vh;
  --fall-duration: 8.404s;
  --fall-delay: 8.716s;
}
.star:nth-child(37) {
  --star-tail-length: 6.65em;
  --top-offset: 82.67vh;
  --fall-duration: 11.198s;
  --fall-delay: 5.028s;
}
.star:nth-child(38) {
  --star-tail-length: 5.15em;
  --top-offset: 73.9vh;
  --fall-duration: 6.876s;
  --fall-delay: 5.791s;
}
.star:nth-child(39) {
  --star-tail-length: 7.34em;
  --top-offset: 92.02vh;
  --fall-duration: 8.929s;
  --fall-delay: 3.902s;
}
.star:nth-child(40) {
  --star-tail-length: 5.06em;
  --top-offset: 71.72vh;
  --fall-duration: 11.75s;
  --fall-delay: 5.194s;
}
.star:nth-child(41) {
  --star-tail-length: 5.31em;
  --top-offset: 3.43vh;
  --fall-duration: 10.525s;
  --fall-delay: 1.805s;
}
.star:nth-child(42) {
  --star-tail-length: 7.07em;
  --top-offset: 46.92vh;
  --fall-duration: 8.52s;
  --fall-delay: 2.59s;
}
.star:nth-child(43) {
  --star-tail-length: 5.7em;
  --top-offset: 30.15vh;
  --fall-duration: 9.474s;
  --fall-delay: 0.381s;
}
.star:nth-child(44) {
  --star-tail-length: 7.47em;
  --top-offset: 80.38vh;
  --fall-duration: 10.266s;
  --fall-delay: 3.796s;
}
.star:nth-child(45) {
  --star-tail-length: 6.08em;
  --top-offset: 30.87vh;
  --fall-duration: 6.752s;
  --fall-delay: 6.588s;
}
.star:nth-child(46) {
  --star-tail-length: 6.48em;
  --top-offset: 2.14vh;
  --fall-duration: 10.36s;
  --fall-delay: 7.001s;
}
.star:nth-child(47) {
  --star-tail-length: 5.03em;
  --top-offset: 32.2vh;
  --fall-duration: 10.7s;
  --fall-delay: 5.881s;
}
.star:nth-child(48) {
  --star-tail-length: 7.07em;
  --top-offset: 53.01vh;
  --fall-duration: 9.799s;
  --fall-delay: 1.951s;
}
.star:nth-child(49) {
  --star-tail-length: 5.69em;
  --top-offset: 9.29vh;
  --fall-duration: 9.822s;
  --fall-delay: 1.334s;
}
.star:nth-child(50) {
  --star-tail-length: 5.51em;
  --top-offset: 19.05vh;
  --fall-duration: 9.575s;
  --fall-delay: 8.345s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*Gerais*/
html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

/*header---------------------------------------------------------------------------------------------------------*/
/*main-----------------------------------------------------------------------------------------------------------*/
/*animação principal*/
section div h1 {
  padding: 0px 4px;
  font-size: 4.5rem;
  line-height: 6rem;
  color: transparent;
  animation: written_tex 0.5s ease forwards;
}

section div h1:nth-child(1) {
  animation-delay: 1s;
}

/*animação do quadro do texto*/
section .DivText {
  width: 0px;
  height: 0px;
  animation: open_square 0.5s ease forwards;
  animation-duration: 1s;
}

/*animação do texto dp quadro do texto*/
#texto {
  color: transparent;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end) forwards;
  animation-delay: 2s;
}

span {
  animation: blink 1s infinite;
}

/*footer---------------------------------------------------------------------------------------------------------*//*# sourceMappingURL=style.css.map */