@charset "UTF-8";
/*importações*/
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
  --color-light: #f8f9fa;
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: auto;
  }
}
@keyframes open_square_mobile {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 350px;
    height: auto;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*Galera esse arquivo aqui foi feito pra conter todas as animações que formos usar e criar
pra manter o sistema organizado*/
:root {
  --color-white: #fff;
  --color-transp: #ffffff00;
  --color-light: #f8f9fa;
}

@keyframes written_tex {
  100% {
    color: var(--color-white);
  }
}
@keyframes open_square {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 800px;
    height: auto;
  }
}
@keyframes open_square_mobile {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 250px;
    width: 10px;
  }
  100% {
    width: 350px;
    height: auto;
  }
}
@keyframes open_square_2 {
  0% {
    width: 0px !important;
    height: 0;
  }
  100% {
    width: 500px !important;
    height: 450px;
  }
}
@keyframes open_square_3 {
  0% {
    width: 10px;
    height: 0;
  }
  50% {
    height: 350px;
    width: 10px;
  }
  100% {
    width: 400px;
    height: 350px;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  0% {
    color: var(--color-transp);
  }
  20% {
    color: orange;
  }
  100% {
    color: orange;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.star {
  --star-color: var(--color-light);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: #f8f9fa;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.33em;
  --top-offset: 56.25vh;
  --fall-duration: 6.209s;
  --fall-delay: 0.163s;
}
.star:nth-child(2) {
  --star-tail-length: 6.67em;
  --top-offset: 26.4vh;
  --fall-duration: 9.915s;
  --fall-delay: 1.18s;
}
.star:nth-child(3) {
  --star-tail-length: 5.02em;
  --top-offset: 21.97vh;
  --fall-duration: 10.477s;
  --fall-delay: 0.817s;
}
.star:nth-child(4) {
  --star-tail-length: 6.57em;
  --top-offset: 68.26vh;
  --fall-duration: 7.237s;
  --fall-delay: 1.448s;
}
.star:nth-child(5) {
  --star-tail-length: 5.93em;
  --top-offset: 82.39vh;
  --fall-duration: 9.071s;
  --fall-delay: 3.417s;
}
.star:nth-child(6) {
  --star-tail-length: 6.24em;
  --top-offset: 54.87vh;
  --fall-duration: 11.595s;
  --fall-delay: 8.123s;
}
.star:nth-child(7) {
  --star-tail-length: 6.52em;
  --top-offset: 52.02vh;
  --fall-duration: 8.744s;
  --fall-delay: 4.969s;
}
.star:nth-child(8) {
  --star-tail-length: 5.19em;
  --top-offset: 75.35vh;
  --fall-duration: 8.579s;
  --fall-delay: 8.966s;
}
.star:nth-child(9) {
  --star-tail-length: 5.27em;
  --top-offset: 79.49vh;
  --fall-duration: 7.388s;
  --fall-delay: 6.539s;
}
.star:nth-child(10) {
  --star-tail-length: 6.56em;
  --top-offset: 81.56vh;
  --fall-duration: 8.834s;
  --fall-delay: 3.571s;
}
.star:nth-child(11) {
  --star-tail-length: 5.49em;
  --top-offset: 53.81vh;
  --fall-duration: 10.238s;
  --fall-delay: 8.925s;
}
.star:nth-child(12) {
  --star-tail-length: 7.21em;
  --top-offset: 7.01vh;
  --fall-duration: 11.823s;
  --fall-delay: 5.669s;
}
.star:nth-child(13) {
  --star-tail-length: 6.85em;
  --top-offset: 73.94vh;
  --fall-duration: 8.101s;
  --fall-delay: 2.797s;
}
.star:nth-child(14) {
  --star-tail-length: 5.92em;
  --top-offset: 39.99vh;
  --fall-duration: 7.351s;
  --fall-delay: 6.078s;
}
.star:nth-child(15) {
  --star-tail-length: 5.89em;
  --top-offset: 1.32vh;
  --fall-duration: 8.531s;
  --fall-delay: 7.225s;
}
.star:nth-child(16) {
  --star-tail-length: 5.89em;
  --top-offset: 12.36vh;
  --fall-duration: 7.357s;
  --fall-delay: 1.562s;
}
.star:nth-child(17) {
  --star-tail-length: 7.05em;
  --top-offset: 33vh;
  --fall-duration: 11.235s;
  --fall-delay: 1.532s;
}
.star:nth-child(18) {
  --star-tail-length: 6.99em;
  --top-offset: 48.97vh;
  --fall-duration: 10.38s;
  --fall-delay: 6.894s;
}
.star:nth-child(19) {
  --star-tail-length: 6.57em;
  --top-offset: 18.67vh;
  --fall-duration: 10.598s;
  --fall-delay: 1.531s;
}
.star:nth-child(20) {
  --star-tail-length: 7.5em;
  --top-offset: 21.1vh;
  --fall-duration: 11.041s;
  --fall-delay: 7.683s;
}
.star:nth-child(21) {
  --star-tail-length: 7.24em;
  --top-offset: 89.89vh;
  --fall-duration: 10.477s;
  --fall-delay: 9.927s;
}
.star:nth-child(22) {
  --star-tail-length: 7.29em;
  --top-offset: 3.31vh;
  --fall-duration: 7.225s;
  --fall-delay: 8.428s;
}
.star:nth-child(23) {
  --star-tail-length: 6.49em;
  --top-offset: 74.81vh;
  --fall-duration: 8.141s;
  --fall-delay: 3.374s;
}
.star:nth-child(24) {
  --star-tail-length: 7.05em;
  --top-offset: 90.53vh;
  --fall-duration: 6.208s;
  --fall-delay: 7.17s;
}
.star:nth-child(25) {
  --star-tail-length: 5em;
  --top-offset: 95.52vh;
  --fall-duration: 7.554s;
  --fall-delay: 1.803s;
}
.star:nth-child(26) {
  --star-tail-length: 7.06em;
  --top-offset: 14.01vh;
  --fall-duration: 11.244s;
  --fall-delay: 5.03s;
}
.star:nth-child(27) {
  --star-tail-length: 6.6em;
  --top-offset: 39.55vh;
  --fall-duration: 8.441s;
  --fall-delay: 4.6s;
}
.star:nth-child(28) {
  --star-tail-length: 6.77em;
  --top-offset: 29.78vh;
  --fall-duration: 8.185s;
  --fall-delay: 6.009s;
}
.star:nth-child(29) {
  --star-tail-length: 6.5em;
  --top-offset: 9.51vh;
  --fall-duration: 10.529s;
  --fall-delay: 9.493s;
}
.star:nth-child(30) {
  --star-tail-length: 5.15em;
  --top-offset: 89.2vh;
  --fall-duration: 11.887s;
  --fall-delay: 2.373s;
}
.star:nth-child(31) {
  --star-tail-length: 6.16em;
  --top-offset: 78.28vh;
  --fall-duration: 8.049s;
  --fall-delay: 4.93s;
}
.star:nth-child(32) {
  --star-tail-length: 6.57em;
  --top-offset: 27.97vh;
  --fall-duration: 9.318s;
  --fall-delay: 2.988s;
}
.star:nth-child(33) {
  --star-tail-length: 6.31em;
  --top-offset: 33.06vh;
  --fall-duration: 11.603s;
  --fall-delay: 2.882s;
}
.star:nth-child(34) {
  --star-tail-length: 5.29em;
  --top-offset: 15.35vh;
  --fall-duration: 10.252s;
  --fall-delay: 4.02s;
}
.star:nth-child(35) {
  --star-tail-length: 5.85em;
  --top-offset: 21.98vh;
  --fall-duration: 10.529s;
  --fall-delay: 5.637s;
}
.star:nth-child(36) {
  --star-tail-length: 5.96em;
  --top-offset: 97.14vh;
  --fall-duration: 7.839s;
  --fall-delay: 4.047s;
}
.star:nth-child(37) {
  --star-tail-length: 7.35em;
  --top-offset: 44.23vh;
  --fall-duration: 8.811s;
  --fall-delay: 3.228s;
}
.star:nth-child(38) {
  --star-tail-length: 6.29em;
  --top-offset: 54.28vh;
  --fall-duration: 11.077s;
  --fall-delay: 0.992s;
}
.star:nth-child(39) {
  --star-tail-length: 5.28em;
  --top-offset: 26.99vh;
  --fall-duration: 11.03s;
  --fall-delay: 0.991s;
}
.star:nth-child(40) {
  --star-tail-length: 7.49em;
  --top-offset: 89.12vh;
  --fall-duration: 7.343s;
  --fall-delay: 0.465s;
}
.star:nth-child(41) {
  --star-tail-length: 6.23em;
  --top-offset: 63.32vh;
  --fall-duration: 8.674s;
  --fall-delay: 6.394s;
}
.star:nth-child(42) {
  --star-tail-length: 6.77em;
  --top-offset: 36.37vh;
  --fall-duration: 9.878s;
  --fall-delay: 8.742s;
}
.star:nth-child(43) {
  --star-tail-length: 6.32em;
  --top-offset: 32.96vh;
  --fall-duration: 10.586s;
  --fall-delay: 6.218s;
}
.star:nth-child(44) {
  --star-tail-length: 5.86em;
  --top-offset: 92.46vh;
  --fall-duration: 8.404s;
  --fall-delay: 8.41s;
}
.star:nth-child(45) {
  --star-tail-length: 5.29em;
  --top-offset: 1.47vh;
  --fall-duration: 8.362s;
  --fall-delay: 9.291s;
}
.star:nth-child(46) {
  --star-tail-length: 5.59em;
  --top-offset: 63.42vh;
  --fall-duration: 7.897s;
  --fall-delay: 0.902s;
}
.star:nth-child(47) {
  --star-tail-length: 5.02em;
  --top-offset: 87.09vh;
  --fall-duration: 11.402s;
  --fall-delay: 9.278s;
}
.star:nth-child(48) {
  --star-tail-length: 6.55em;
  --top-offset: 22.3vh;
  --fall-duration: 10.629s;
  --fall-delay: 3.383s;
}
.star:nth-child(49) {
  --star-tail-length: 7.35em;
  --top-offset: 83.64vh;
  --fall-duration: 9.263s;
  --fall-delay: 2.808s;
}
.star:nth-child(50) {
  --star-tail-length: 5.84em;
  --top-offset: 54.75vh;
  --fall-duration: 8.553s;
  --fall-delay: 5.336s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*Gerais*/
html {
  scroll-behavior: smooth;
}

/*header---------------------------------------------------------------------------------------------------------*/
/*main-----------------------------------------------------------------------------------------------------------*/
/*animação principal*/
section div h1 {
  padding: 0px 4px;
  font-size: 4.5rem;
  line-height: 6rem;
  color: transparent;
  animation: written_tex 0.5s ease forwards;
}

section div h1:nth-child(1) {
  animation-delay: 1s;
}

/*animação do quadro do texto*/
section .DivTextMobile {
  width: 0px;
  height: 0px;
  animation: open_square_mobile 0.5s ease forwards;
  animation-duration: 1s;
}

section .DivText {
  width: 0px;
  height: 0px;
  animation: open_square 0.5s ease forwards;
  animation-duration: 1s;
}

/*animação do texto dp quadro do texto*/
#texto {
  color: transparent;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end) forwards;
  animation-delay: 2s;
}

span {
  animation: blink 1s infinite;
}

/*footer---------------------------------------------------------------------------------------------------------*/
/*loading--------------------------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.boxad {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pen1 {
  animation: pen1 2s infinite ease;
}

#pen2 {
  animation: pen2 2s infinite ease;
}

#pen3 {
  animation: pen3 2s infinite ease;
}

#loader {
  animation: loaderColor 5s infinite ease;
}

@keyframes pen1 {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0px);
  }
}
@keyframes pen2 {
  30% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
}
@keyframes pen3 {
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0px);
  }
}
@keyframes loaderColor {
  0% {
    fill: #513B56;
  }
  33% {
    fill: #348AA7;
  }
  66% {
    fill: #5DD39E;
  }
  100% {
    fill: #513B56;
  }
}/*# sourceMappingURL=style.css.map */